---
import { Image } from "astro:assets";

const skillItemClasses = "flex flex-col items-center justify-center m-2 p-2 rounded-xl bg-mocha-surface1 aspect-square hover:shadow-lg hover:scale-105 transition-all duration-200";
const skillHeadingClasses = "mt-1 text-xl";

import csharp from '../assets/img/c-sharp.png';
import java from '../assets/img/java.png';
import php from '../assets/img/php.png';

import js from '../assets/img/js.png';
import python from '../assets/img/python.png';
import htmlCss from '../assets/img/html-css.png';

import linux from '../assets/img/linux.png';
import shell from '../assets/img/terminal.png';
import docker from '../assets/img/docker.png';

import git from '../assets/img/git.png';
import sql from '../assets/img/sql.png';
import networking from '../assets/img/networking.png';
---

<div class="flex flex-col justify-center items-center" id="skills">

    <div>
        <h1 class="text-4xl font-bold text-mocha-red">Skills</h1>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 my-10 text-center items-center">
        
        <!--First section -->
        <div class={skillItemClasses}>
            <Image src={csharp} width={csharp.width} height={csharp.height} alt="Csharp logo" />
            <h2 class={skillHeadingClasses}>CSharp</h2>
        </div>

        <div class={skillItemClasses}>
            <Image src={java} width={java.width} height={java.height} alt="Java logo"/>
            <h2 class={skillHeadingClasses}>Java</h2>
        </div>

        <div class={skillItemClasses}>
            <Image src={php} width={php.width} height={php.height} alt="PHP logo"/>
            <h2 class={skillHeadingClasses}>PHP</h2>
        </div>

        <!--Second section -->
        <div class={skillItemClasses}>
            <Image src={js} width={js.width} height={js.height} alt="JavaScript logo"/>
            <h2 class={skillHeadingClasses}>JavaScript</h2>
        </div>
        <div class={skillItemClasses}>
            <Image src={python} width={python.width} height={python.height} alt="Python logo"/>
            <h2 class={skillHeadingClasses}>Python</h2>
        </div>
        <div class={skillItemClasses}>
            <Image src={htmlCss} width={htmlCss.width} height={htmlCss.height} alt="HTML & CSS logo"/>
            <h2 class={skillHeadingClasses}>HTML & CSS</h2>
        </div>
        <!--third section -->
        <div class={skillItemClasses}>
            <Image src={linux} width={linux.width} height={linux.height} alt="Linux logo"/>
            <h2 class={skillHeadingClasses}>Linux</h2>
        </div>
        <div class={skillItemClasses}>
            <Image src={shell} width={shell.width} height={shell.height} alt="Powershell & Bash logo"/>
            <h2 class={skillHeadingClasses}>Powershell & Bash</h2>
        </div>
        <div class={skillItemClasses}>
            <Image src={docker} width={docker.width} height={docker.height} alt="Docker logo"/>
            <h2 class={skillHeadingClasses}>Docker</h2>
        </div>
        <!--fourth section -->
        <div class={skillItemClasses}>
            <Image src={networking} width={networking.width} height={networking.height} alt="Networking logo"/>
            <h2 class={skillHeadingClasses}>Networking</h2>
        </div>
        <div class={skillItemClasses}>
            <Image src={git} width={git.width} height={git.height} alt="Git logo"/>
            <h2 class={skillHeadingClasses}>Git</h2>
        </div>
        <div class={skillItemClasses}>
            <Image src={sql} width={sql.width} height={sql.height} alt="SQL logo"/>
            <h2 class={skillHeadingClasses}>SQL</h2>
        </div>
    </div>
</div>
